:root{
    --main-title-color: #212121;
    --second-title-color: #ffffff;
    --main-text-color: #757575;
    --second-text-color: #ffffff;
    --accent-color: #2196F3;
    --background-color: #2F303A;
    --background-section-color: #ffffff;
    --background-button: #188CE8;
    --color-logo: #000000;
    --background-section-employees: #F5F4FA;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-title-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn{
    font-family: inherit;
    cursor: pointer;
}

/* --------------------------HEADER-------------------------- */
.header{
    background-color: var(--background-section-color);
}

.header-nav {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
    
}

.header-logo-second{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--color-logo);
}

.header-list {}

.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-title-color);
}

.header-item:hover,
.header-item:focus {
    color: var(--accent-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
 }

 /* --------------------------HERO-------------------------- */
 
.hero {
    background: var(--background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    color: var(--second-title-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus{
    background: var(--background-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

 /* --------------------------SPECIFIC-------------------------- */

.specific {
    background-color: var(--second-title-color);
}

.specific-list {}

.specific-item {}

.specific-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.specific-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;   
    color: var(--main-text-color);
}

 /* --------------------------WORKS-------------------------- */

.works {
    background-color: var(--second-title-color)
}

.works-title,
.employees-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.works-list {}

.works-item {}

 /* --------------------------EMPLOYEES-------------------------- */

.employees {
    background: var(--background-section-employees);
}

.employees-title {}

.title {}

.employees-list {}

.employees-item {
    background: var(--background-section-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.employees-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.employees-item-text {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

 /* --------------------------FOOTER-------------------------- */

.footer {
    background: var(--background-color);
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
}

.footer-logo-second{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.contacts-address{
    font-style: normal;
}

.footer-list {}

.footer-item {}

.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.footer-mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}

 /* --------------------------PORTFOLIO-------------------------- */

.portfolio {}

.portfolio-list {}

.portfolio-item {}

.portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    border: none;
    cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--second-title-color);
    border: none;
    cursor: pointer;
}

.portfolio-projects-list {}

.portfolio-projects-item {}

.portfolio-projects-img {}

.portfolio-projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}

.portfolio-projects-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}